/* @theme am_raysea */

@import 'am_template';

:root {
  --color-code-bg: #54d3d350;
  --color-coverbg: #849cc4;
  --color-few: #91a814;
  --color-footer: #8c8c8c;
  --color-main: #041d22;
  --color-much: #000000;
  --color-navbar-bg: #d0e9ee;
  --color-navbar-font: rgb(108, 95, 91);
  --color-quote: rgba(254, 176, 98, 0.1);
  --color-title: rgb(255, 255, 255);
  --color-trans: #849cc4;
  --filter-b: brightness(30%) contrast(70%) grayscale(100%);
  --filter-c: brightness(0%) contrast(60%) grayscale(80%);
  --filter-e: brightness(0%) contrast(70%) grayscale(100%);
  --font-family-main: 'Latin Modern Math', 'Adobe Garamond', 'Times New Roman', '楷体';
  --font-family-covertitle: 'Microsoft YaHei Light', 'Optima LT Medium', 'Times New Roman', '黑体';
  --font-family-title: 'Microsoft YaHei', 'Optima LT Medium', 'Times New Roman', '黑体';
  --font-family-footer: 'Charm', 'Times New Roman', '楷体';
  --font-family-code: 'Fira Code', 'HYMingChanKeBen W', 'Consolas', '宋体';
  --font-size-1: 72px;
  --foot-size-subtitle: 32px;
  --font-size-2-3: 38px;
  --font-size-4-5: 30px;
  --font-size-main: 25px;
  --font-size-footer: 22px;
  --font-size-page: 12px;
  --font-size-code: 22px;
}

section {
  isolation: isolate;
}

section::after {
  left: 28px;
  right: auto;

  margin-left: 0;
  margin-right: 0;
  margin-bottom: -14px;
}

footer{
  left: 12%;
}

/* 正文装饰 */
section:not(.trans):not(.lastpage):not([class*='cover_']):not(.no_mark)::before {
  content: '';
  position: absolute;

  /* 相对于整张 slide */
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background-image:
    url('https://cdn.jsdelivr.net/gh/maple367/picx-images-hosting@master/raysea/raysea_logo.webp'),
    url('https://cdn.jsdelivr.net/gh/maple367/picx-images-hosting@master/raysea/slide_corner.webp'),
    url('https://cdn.jsdelivr.net/gh/maple367/picx-images-hosting@master/raysea/slide_title.webp');
  background-size:
    96px auto,
    200px auto,
    64px 96px;

  background-position:
    right 8px,
    right bottom,
    20px top;

  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;

  pointer-events: none;
  z-index: -1;
}

section:not(.trans):not(.lastpage):not([class*='cover_']) h2 {
  box-sizing: border-box;

  margin: 0;
  padding-bottom: 10px;
  position: absolute;
  top: 28px;
  left: 90px;

  width: 1000px;
}

/* 标题下方分割线 */
section:not(.trans):not(.lastpage):not([class*='cover_']) h2::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 1.5px;
  background-color: #7898c4;
}

/* 分栏标题 */
section:is([class*='cols'], [class*='rows'], [class*='pin']) h2 {
  grid-area: none;

  align-self: start;
  justify-self: stretch;

  box-sizing: border-box;

  margin: 0;
  padding-bottom: 10px;
  position: absolute;
  top: 28px;
  left: 90px;

  width: 1000px;
}

section.cover_a::before {
  content: '';
  position: absolute;

  /* 相对于整张 slide */
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background-image:
    url('https://cdn.jsdelivr.net/gh/maple367/picx-images-hosting@master/raysea/raysea_logo.webp');

  background-size:
    96px auto;

  background-position:
    right 8px;

  background-repeat:
    no-repeat;

  pointer-events: none;
  filter: brightness(0) invert(1);
}

section.cover_a {
  position: absolute;
  width: 100%;
  overflow: hidden;

  background: url('https://cdn.jsdelivr.net/gh/maple367/picx-images-hosting@master/raysea/slide_bg.webp') center 66% / 100% auto no-repeat;
}


section.cover_a h1 {
  font-family: var(--font-family-covertitle);
  background-color: transparent;
  top: 35%;
}

section.cover_a h6 {
  font-family: var(--font-family-covertitle);
  top: 47%;
}

section.cover_a p {
  color: var(--color-title);
}